@import "./colors";
@import "./typography";

.user {
  display: flex;
  padding: 1rem 0;
}
.border {
  border-top: 1px solid $lineCol;
}
.hide {
  visibility: hidden;
}
.form_group {
  margin: 0 0.5rem 0.2rem 0;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;

    &:checked + label::after {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 4px;
      width: 5px;
      height: 7px;
      border: solid $secCol;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  label {
    position: relative;
    cursor: pointer;
    border-radius: 100%;

    &::before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 1px solid #707070;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 6px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 100%;
    }
  }
}
.activity {
  flex-grow: 1;
  .name {
    display: flex;
    @include md-text;

    p {
      text-transform: capitalize;
    }

    span {
      @include sm-text;
      text-transform: initial;
    }

    .name_initial {
      display: inline-block;
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      line-height: 18px;
      font-size: 0.75rem;
      text-align: center;
      background: $secCol;
      color: #fff;
      border-radius: 100%;
    }

    .text {
      margin-right: 0.2rem;
    }

    .status {
      display: inline-block;
      margin-right: 2rem;
      @include md-text;

      span {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin: 0 0.2rem 0 0rem;
        vertical-align: middle;
        border-radius: 100%;
        background-color: blue;
      }
    }

    .time {
      display: inline-block;
    }
  }
}

@media (min-width: 576px) {
  .form_group {
    margin: 0 1.5rem 0 0;

    input {
      &:checked + label::after {
        top: 3px;
        left: 7px;
        width: 6px;
        height: 10px;
      }
    }

    label {
      vertical-align: sub;

      &::before {
        padding: 8px;
      }
    }
  }

  .activity {
    .name {
      align-items: center;

      .name_initial {
        width: 28px;
        height: 28px;
        font-size: 1rem;
        line-height: 26px;
      }

      .status {
        span {
          width: 8px;
          height: 8px;
          margin: 0 0.2rem 0 0.5rem;
        }
      }
    }
  }
}
